@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
  --bgColor: #8ddbff; 
  --navBarBackground: #9AD7FF; /* bg-light-lightBlue1 */
  --navBarGradientStart: #76C8FF; /* bg-light-darkBlue2, desde */
  --navBarGradientEnd: #00A4BA; /* bg-light-greenBlue1, hasta */
  --textColor: #040D23;
  --titleColor: #043A5E;
  --borderColor: #005a5b;
  --textShadow: 1px 1px 2px #035D9B, 0 0 2rem #043A5E, 0 0 1rem #01414a;
}

:root[data-theme='dark'] {
  --bgColor: #040D23; 
  --navBarBackground: #035D9B; /* bg-dark-lightBlue1 */
  --navBarGradientStart: #043A5E; /* bg-dark-darkBlue2, desde */
  --navBarGradientEnd: #01414a; /* bg-dark-greenBlue1, hasta */
  --textColor: #95B3FF; 
  --titleColor: #35B4FE;
  --borderColor: #00d5d9;
  --textShadow: 1px 1px 2px #9AD7FF, 0 0 2rem #76C8FF, 0 0 1rem #00A4BA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgColor);
}

.navbar {
  background: radial-gradient(circle at center, 
  var(--navBarGradientStart), 
  var(--navBarGradientEnd),
  var(--navBarBackground)); 
}


/* containers */
.bodyContainer {
  @apply m-medium; 
}

/* texts */
.title {
  @apply text-center text-xl font-Dela pt-6 md:text-3xl;
  color: var(--titleColor);
  &:hover {
    transition: 0.5s;
    text-shadow: var(--textShadow);
  }
}
.text {
  color: var(--textColor);
  @apply text-left text-lg font-Sawarabi md:text-xl;
}
.redact {
  color: var(--textColor);
  @apply text-center text-lg font-Sawarabi p-4 md:text-2xl;
}

/* buttons */

.navButtonDark {
    @apply flex justify-center items-center cursor-pointer rounded-md px-5 py-2 font-semibold text-white bg-dark-lightBlue2 transition duration-300 ease-in-out hover:shadow-xl hover:bg-dark-darkBlue2 hover:ring-2 hover:ring-dark-lightBlue1 hover:shadow-dark-lightBlue2 hover:text-white focus:ring-light-greenBlue2 focus:shadow-light-greenBlue1;
  }

  .navButtonLight {
    @apply flex justify-center items-center cursor-pointer rounded-md px-5 py-2 font-semibold text-blue-950 bg-light-lightBlue2 transition duration-300 ease-in-out hover:shadow-xl hover:bg-light-darkBlue2 hover:ring-2 hover:ring-light-lightBlue1 hover:shadow-light-lightBlue2 hover:text-blue-950 focus:ring-dark-greenBlue2 focus:shadow-dark-greenBlue1;
  }

  .redirButtonDark {
    @apply flex justify-center items-center cursor-pointer rounded-md px-5 py-2 gap-4 h-12 w-3/4 font-semibold text-white bg-dark-lightBlue2 transition duration-300 ease-in-out hover:shadow-xl hover:bg-dark-darkBlue2 hover:ring-2 hover:ring-dark-lightBlue1 hover:shadow-dark-lightBlue2 hover:text-white focus:ring-light-greenBlue2 focus:shadow-light-greenBlue1;
  }

  .redirButtonLight {
    @apply flex justify-center items-center cursor-pointer rounded-md px-5 py-2 gap-4 h-12 w-3/4 font-semibold text-blue-950 bg-light-lightBlue2 transition duration-300 ease-in-out hover:shadow-xl hover:bg-light-darkBlue2 hover:ring-2 hover:ring-light-lightBlue1 hover:shadow-light-lightBlue2 hover:text-blue-950 focus:ring-dark-greenBlue2 focus:shadow-dark-greenBlue1;
  }

/* content */

.profile {
  @apply rounded-full;
  border-width: 2px;
  border-color: var(--borderColor);
}

.projectsContainer {
  @apply flex flex-col rounded-xl;
  border-width: 2px;
  background-color: var(--navBarBackground);
  border-color: var(--borderColor);
}

.videoContainer {
  @apply grid grid-cols-2 justify-center items-center p-2;

}

.video {
  @apply w-full h-20rem p-6;
}